
    *{
     margin: 10PX;
        padding: 0PX;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h1{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: blue;
    }
    table{
        border: 4px solid rgba(200, 98, 190, 0.783);
        width: 40%;
    }
    td{
        padding: 15px;
        text-align: right;
        border: 0px solid rgb(248, 4, 171);
    }
    thead{
        background-color: rgb(209, 143, 240);
    
    }
    .contenedor1{
        background-color: rgb(41, 175, 248);
    }
    .contenedor2{
        background-color: rgb(223, 150, 13);
    }
    .interior{
        text-align: left;
        background-color: rgb(234, 144, 241);
    }
    .interior2{
        text-align: left;
        background-color: rgb(147, 216, 248);
    }
    .interior3{
        text-align: left;
        background-color: rgb(154, 149, 4);
    }
    .img1{
        text-align: center;
        display:block;
        width: 100px;
        height: 100px;
    }
    .img2{
        text-align: center;
        display:block;
        width: 200px;
        height: 100px;
    }
    .img3{
        text-align: center;
        display:block;
        width: 200px;
        height: 100px;
    }

    @media (min-width:1170px) and (max-width:1170px){   
}
